

/*    !* Estilos CSS del footer *!*/
/*footer {*/
/*    background-color: #336699;*/
/*    color: #ffffff;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
