.modalEmial{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.ocultar{
    display: none;
}

.cerrar {
    position: relative;
    left: 340px;
    top: 4px;
    cursor: pointer;
}

.h1-perfil {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.card-title {
    font-size: 1.25rem;
}

.datos-usuario .list-group-item {
    font-size: 1rem;
}


.reloj img{
    width: 30%;
    height: auto;
}

.subida img{
    width: 34%;
    height: auto;
}

.mas img{
    width: 50%;
    height: auto;
}
.container-tip{
    width: 30rem;
}

.container-tips{
    margin-top: 5rem;
    gap: 4rem;
    width: 100%;
    padding: 5rem 1rem 0rem 1rem;
}

.container-text{
    gap: 4rem;
    width: 100%;
}

.ruleta-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
                0px -4px 8px rgba(0, 0, 0, 0.1),
                4px 0px 8px rgba(0, 0, 0, 0.1),
                -4px 0px 8px rgba(0, 0, 0, 0.1);
}

.ruleta img{
    width: 50%;
    height: auto;
}


.respuestas-juego .d-flex {
    justify-content: space-between;
}

.respuestas-juego label {
    flex-grow: 1;
    margin-right: 10px;
}

.respuesta{
    border: solid 1px rgb(255, 193, 7);
    border-radius: 1rem;
    padding: 1rem;
}

.respuesta-reporte{
    border: solid 1px rgb(255, 193, 7);
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}


.lista-respuestas li{
    list-style: none;
    margin: 0.5rem 0rem 0.5rem 0rem;
    width: 50%;
    align-items: center;
}

.lista-respuestas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.texto-reporte{
    width: 60%;
    height: auto;
    border: solid 1px rgb(255, 193, 7);
    padding-bottom: 5rem;
    background-color: whitesmoke;
}

.texto-reporte::placeholder{
    color: black;
    padding-top: 2rem;
}

.form-reporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.respuesta:hover{
    background-color: rgb(255, 193, 7);
    border: solid 1px white;
}

.respuesta:hover label {
    color: black;
}
