.historia{
    background-color: saddlebrown;
}
.deporte{
    background-color: green;
}
.geografia{
    background-color: dodgerblue;
}
.entretenimiento{
    background-color: #9370db;
}
.arte{
    background-color: darkred;
}