<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <title>Sabiondos - Juego de Preguntas</title>

</head>
<body>
<header>
    <h1>Sabiondos - ¡Demuestra tu conocimiento!</h1>
    <p>Bienvenido al juego de preguntas donde podrás poner a prueba tu sabiduría.</p>
</header>
<!-- Aquí puedes agregar el contenido del juego, como las preguntas y las opciones -->
</body>
</html>