<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  href="/public/css/header.css">
    <link rel="stylesheet"  href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/general.css">
    <title>Sabiondos - Juego de Preguntas</title>

</head>
<body class="bg-dark">

<header class="text-light">
    <h1 class="text-center mt-5">Sabiondos - ¡Demuestra tu conocimiento!</h1>
    <p class="text-center">Bienvenido al juego de preguntas donde podrás poner a prueba tu sabiduría.</p>
</header><!--
 Aquí puedes agregar el contenido del juego, como las preguntas y las opciones
</body>
</html>
 -->