<main>
    {{#preguntaReportada}}
        <h1>Modificar pregunta reportada</h1>
    {{/preguntaReportada}}
    {{^preguntaReportada}}
        <h1>Crear nueva pregunta</h1>
    {{/preguntaReportada}}

    <section class="contenedor-form-pregunta">
        {{#preguntaReportada}}
        <form action="Editor/modificarPreguntaReportada" method="post">
        {{/preguntaReportada}}
        {{^preguntaReportada}}
        <form action="Editor/altaPregunta" method="post">
        {{/preguntaReportada}}
            {{#preguntaReportadas}}
            <label for="pregunta">Pregunta:</label>
            <input type="text" name="pregunta" value="{{texto}}">
            {{/preguntaReportadas}}
            {{^preguntaReportada}}
                <label for="pregunta">Pregunta:</label>
                <input type="text" name="pregunta">
            {{/preguntaReportada}}

            {{#respuestasIncorrectas}}
                <label for="respuesta-incorrecta-{{posicion}}">Respuesta incorrecta:</label>
                <input type="text" name="respuesta-incorrecta-{{posicion}}">
            {{/respuestasIncorrectas}}
            {{^respuestasIncorectas}}
                <label for="respuesta-incorrecta-1">Respuesta correcta:</label>
                <input type="text" name="respuesta-incorrecta-1" value="{{texto}}">
                <label for="respuesta-incorrecta-2">Respuesta correcta:</label>
                <input type="text" name="respuesta-incorrecta-2"  value="{{texto}}">
                <label for="respuesta-incorrecta-3">Respuesta correcta:</label>
                <input type="text" name="respuesta-incorrecta-3"  value="{{texto}}">
            {{/respuestasIncorectas}}

            {{#respuestaCorrecta}}
                <label for="respuesta-correcta">Respuesta correcta:</label>
                <input type="text" name="respuesta-correcta"  value="{{texto}}">
            {{/respuestaCorrecta}}
            {{^respuestaCorrecta}}
                <label for="respuesta-correcta">Respuesta correcta:</label>
                <input type="text" name="respuesta-correcta">
            {{/respuestaCorrecta}}

                <label for="categoria">Categoria:</label>
                <select type="text" name="categoria">
                    <option value="arte">Arte</option>
                    <option value="entretenimiento">Entretenimiento</option>
                    <option value="deporte">Deporte</option>
                    <option value="geografia">Geografia</option>
                    <option value="historia">Historia</option>
                </select>


            <input type="submit" value="Dar de alta">
        </form>
    </section>
</main>