<main>
    {{#usuario}}
    <p class="text-light text-right p-3">Bienvenido {{nombre_usuario}} -- Posicion de Ranking:  {{ranking}}</p>
    {{/usuario}}

    <section class="container d-flex justify-content-around ">
        <form action="/partida" method="post" class="botones">
            <input type="submit" name="nuevaPartida" id="nuevaPartida" value="Nueva Partida">
        </form>

        <form action="/Ranking" method="post" class="botones">
            <input type="submit" name="rankingMundial" id="rankingMundial" value="Ranking Mundial">
        </form>

        <form action="/Tienda" method="post" class="botones">
            <input type="submit" name="tienda" id="tienda" value="Tienda">
        </form>
    </section>

    <section class="container">
        <h1 class="p-5 text-light">Partidas jugadas</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-light">Id</th>
                <th scope="col" class="text-light">Activa</th>
                <th scope="col" class="text-light">Puntaje</th>
                <th scope="col" class="text-light">Duracion</th>
                <th scope="col" class="text-light">Preguntas Acertadas</th>
            </tr>
            </thead>
            <tbody>
            {{#partidasActualizadas}}
                <tr>
                    <th scope="row" class="text-light">{{id}}</th>
                    <td class="text-light">{{activa}}</td>
                    <td class="text-light">{{puntaje}}</td>
                    <td class="text-light">{{duracion}}</td>
                    <td class="text-light">{{preguntasAcertadas}}</td>
                </tr>
            {{/partidasActualizadas}}
            </tbody>
        </table>
    </section>
</main>