<main>

    <div class="bg-warning p-3">
        <h1 class="text-center p-3 text-dark">SABIONDOS</h1>
        <h3 class="text-center p-1 text-dark">¡Demuestra tu conocimiento!</h3>
        <p class="text-center text-dark">Bienvenido al juego de preguntas donde podrás poner a prueba tu sabiduría.</p>
    </div>
    {{#usuario}}
        <p class="text-light text-center p-3">Bienvenido <strong>{{nombre_usuario}}</strong> -- Posicion de Ranking: <strong>{{ranking}}</strong></p>
    {{/usuario}}
    <section class="container d-flex justify-content-around mt-5">
        <form action="/partida" method="post" class="botones">
            <input type="submit" name="nuevaPartida" id="nuevaPartida"  class="btn btn-outline-warning" value="Nueva Partida">
        </form>

        <form action="/Ranking" method="post" class="botones">
            <input type="submit" name="rankingMundial" id="rankingMundial" class="btn btn-outline-warning" value="Ranking Mundial">
        </form>

        <form action="/Tienda" method="post" class="botones">
            <input type="submit" name="tienda" id="tienda" class="btn btn-outline-warning" value="Tienda">
        </form>
        <form action="/CrearPregunta" method="post" class="botones">
            <input type="submit" name="CrearPregunta" id="CrearPregunta" class="btn btn-outline-warning" value="Sugerir Pregunta">
        </form>
    </section>



    <div class="container w-25 contendorMSJ" id="mensajeSugerir">
        {{#mensajeUsuarioSugerir}}
            <a id="boton" class="cerrar"><img src="../public/img/x-circle.svg"></a>
            <p class="text-light text-center bg-primary p-1 rounded">{{mensajeUsuarioSugerir}}</p>
        {{/mensajeUsuarioSugerir}}

    </div>

    <section class="container">
        <h1 class="p-5 text-light">Partidas jugadas</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-light">Id</th>
                <th scope="col" class="text-light">Activa</th>
                <th scope="col" class="text-light">Puntaje</th>
                <th scope="col" class="text-light">Duracion</th>
                <th scope="col" class="text-light">Preguntas Acertadas</th>
            </tr>
            </thead>
            <tbody>
            {{#partidasActualizadas}}
                <tr>
                    <th scope="row" class="text-light">{{id}}</th>
                    <td class="text-light">{{activa}}</td>
                    <td class="text-light">{{puntaje}}</td>
                    <td class="text-light">{{duracion}}</td>
                    <td class="text-light">{{preguntasAcertadas}}</td>
                </tr>
            {{/partidasActualizadas}}
            </tbody>
        </table>
    </section>
</main>
<script src="/public/js/mensajeUsuario.js"></script>