<main>
    <h1>¿Estas listo para perder?</h1>

    <form action="/Partida/siguientePregunta" method="post" class="botones">
        <input type="submit" name="comenzar" id="tienda" value="Comenzar">
    </form>

</main>