<main>
    <section class="container text-center mt-5 p-5 ruleta-container">
        {{#mensajeUsuario}}
            <h1 class="text-light mt-3">Tu respuesta fue <span class="text-warning">{{mensajeUsuario}}</span> </h1>
        {{/mensajeUsuario}}

        {{#pregunta}}
            <h2 class="text-light mt-3">Pregunta respondida: </h2>
            <h3 class="text-warning mt-3">{{texto}}</h3>
        {{/pregunta}}
            <br>
        {{#partida}}
            <h2 class="text-light mt-3">Puntaje acumulado: <span class="text-warning">{{puntaje}}</span></h2>
        {{/partida}}

        <form action="/Partida/ruleta" method="post" class="mt-5" >
            {{#pregunta}}
                <input type="hidden" value="{{id}}" name="id">
            {{/pregunta}}

            <input type="submit" class="btn btn-outline-warning" name="comenzar" id="tienda" value="seguir">
        </form>


        <form action="/Pregunta/reporte" method="post"
            {{#pregunta}}
                <input type="hidden" value="{{id}}" name="id">
            {{/pregunta}}
            <input type="submit" name="comenzar" id="tienda" value="Reportar pregunta" class="btn btn-outline-warning">
        </form>

    </section>
</main>
<script src="/public/js/recargarPagina.js"></script>

