<main class="main-perfil container py-5 border border-warning rounded">
    {{#usuario}}
        <div class="mb-5 w-100">
            <div class="text-center container w-50">
                <img src="/public/img/{{foto_perfil}}" class="img-fluid rounded shadow-sm" alt="Foto de {{nombre_completo}}">
            </div>
            <div class="pt-5">
                <h1 class="h1-perfil text-warning text-center ">{{nombre_completo}}</h1>
            </div>
        </div>

        <section class="container mt-5">
            <div class="d-flex justify-content-around border border-warning rounded mb-5 p-5">
                <div class="mb-4 datos">
                    <div class="card shadow-sm">
                        <div class="card-header bg-warning text-white">
                            <h3 class="card-title mb-0 text-dark">Datos Personales</h3>
                        </div>
                        <ul class="list-group list-group-flush text-dark">
                            <li class="list-group-item "><strong>Nombre de usuario:</strong> {{nombre_usuario}}</li>
                            <li class="list-group-item"><strong>Mail:</strong> {{mail}}</li>
                            <li class="list-group-item"><strong>Fecha de nacimiento:</strong> {{fecha_nacimiento}}</li>
                            <li class="list-group-item"><strong>País:</strong> {{pais}}</li>
                            <li class="list-group-item"><strong>Ciudad:</strong> {{ciudad}}</li>
                        </ul>
                    </div>
                </div>

                <div class="mb-4 datos">
                    <div class="card shadow-sm">
                        <div class="card-header bg-warning text-white">
                            <h3 class="card-title mb-0 text-dark">Datos de Partida</h3>
                        </div>
                        <ul class="list-group list-group-flush text-dark">
                            <li class="list-group-item"><strong>Ranking:</strong> {{ranking}}</li>
                            <li class="list-group-item"><strong>Puntaje de ranking:</strong> {{puntajeRanking}}</li>
                            <li class="list-group-item"><strong>Nivel de usuario:</strong> {{nivel}}</li>
                            <li class="list-group-item"><strong>Puntaje más alto:</strong> {{puntajeMasAlto}}</li>
                            <li class="list-group-item"><strong>Puntaje total:</strong> {{puntajeTotal}}</li>
                            <li class="list-group-item"><strong>Total de partidas jugadas:</strong> {{partidasJugadas}}</li>
                            <li class="list-group-item"><strong>Total de preguntas acertadas:</strong> {{preguntasAcertadasTotales}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center">
            <form action="/Lobby" method="post" class="d-inline">
                <button type="submit" name="comenzar" class="btn btn-outline-warning btn-lg">Lobby</button>
            </form>
        </div>
    {{/usuario}}
</main>
