<main>
    <div class="bg-warning p-3">
        <h3 class="text-center p-1 text-dark">¡Ranking Global de Sabiondos!</h3>
        <p class="text-center text-dark">Descubre a los mejores jugadores del mundo</p>
    </div>



    <section class="container mt-5">
        <div class="container d-flex justify-content-between align-items-center mb-5">
            <h1 class="p-2 text-light">Ranking Mundial</h1>
            <form action="/Lobby" method="post" class="botones">
                <input type="submit" name="volverLobby" id="volverLobby" class="btn btn-outline-warning" value="Lobby">
            </form>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-light">Posicion</th>
                <th scope="col" class="text-light">Id</th>
                <th scope="col" class="text-light">Nombre Usuario</th>
                <th scope="col" class="text-light">Puntaje Total</th>
                <th scope="col" class="text-light">Puntaje mas alto</th>
                <th scope="col" class="text-light">Partidas Jugadas</th>
                <th scope="col" class="text-light">Puntaje Ranking</th>
                <th scope="col" class="text-light">Nivel</th>
                <th scope="col" class="text-light">Pais</th>
                <th scope="col" class="text-light">QR</th>
            </tr>
            </thead>
            <tbody>
            {{#rankingMundial}}
                <tr>
                    <th scope="row" class="text-light">{{posicion}}</th>
                    <th class="text-light">{{id}}</th>
                    <td class="text-light"><a href="/Usuario/verPerfil?id={{id}}">{{nombre_usuario}}</a></td>
                    <td class="text-light">{{puntajeTotal}}</td>
                    <td class="text-light">{{puntajeMasAlto}}</td>
                    <td class="text-light">{{partidasJugadas}}</td>
                    <td class="text-light">{{puntajeRanking}}</td>
                    <td class="text-light">{{nivel}}</td>
                    <td class="text-light">{{pais}}</td>
                    <td class="text-light">
                        <img src="/public/QR/{{qr_code_path}}" alt="QR Code" style="width: 100px; height: 100px;">
                    </td>
                </tr>
            {{/rankingMundial}}
            </tbody>
        </table>
    </section>
</main>