
    <main>

    <section class="container text-center mt-5 p-5 ruleta-container bg-dark" style="height: max-content;">
            {{#mensajeUsuario}}
                <h1 class="text-light">{{mensajeUsuario}}</h1>
            {{/mensajeUsuario}}

            {{#pregunta}}
            <div class="container timerContainer d-flex flex-column align-items-center justify-content-center text-center mt-5">
                <h1 class="text-warning">TIEMPO</h1>
                <div>
                   <h1 id="timer" class="text-warning">{{tiempo_respuesta}}</h1>
                </div>
            </div>


                <h1 class="p-5 text-light text-center mt-5">{{texto}}</h1>
            {{/pregunta}}

            <form action="/Partida/verificarRespuesta" method="get" class="respuestas-juego d-flex flex-column container w-50">
                {{#pregunta}}
                    <div>
                        <input type="hidden" name="idPregunta" id="{{id}}" value="{{id}}">
                    </div>
                {{/pregunta}}

                {{#respuesta}}
                    <div class="d-flex align-items-center mb-2 respuesta">
                        <label for="{{id}}" class="text-light mr-2 w-75">{{texto}}</label>
                        <input type="radio" name="respuestaSeleccionada" id="{{id}}" value="{{id}}">
                    </div>
                {{/respuesta}}
                <div class="d-flex justify-content-center mt-4">
                    <input type="submit" value="Enviar" class="btn btn-outline-warning w-25">
                </div>
            </form>

            <div class="container mt-5">
                <form action="/Reporte" method="get" class="d-flex flex-column container w-50">
                    {{#pregunta}}
                        <div>
                            <input type="hidden" name="idPregunta" id="{{id}}" value="{{id}}">
                        </div>
                    {{/pregunta}}
                    <input type="submit" value="Reportar" class="btn btn-outline-warning w-25">
                </form>
            </div>

        </section>
    </main>
    <script src="/public/js/timer.js"></script>
    <script src="/public/js/recargarPagina.js"></script>

